@import "core/reset";
@import "core/variables";
body{
  font-family: 'Noto Sans', sans-serif;
}
.page{
  background-color: #ffffff;
  &__header{
    margin: 0;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('../images/home.jpg');
    background-size: cover;
    background-position: center;
     */
  }
  &__title{
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
    color: #2f3542;
  }
}
.hidden{
  display: none;
}
.exercise {
  height: 250px;
  width: 300px;
  border: 3px dotted black;
  background-image: url(../images/mood-e1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  &__information {
    align-self: flex-end;
    background-color: rgba(77, 60, 60, 0.5);
    color: #ffffff;
  }
  &__name {
    width: 280px;
    line-height: 20px;
    opacity: 1;
    cursor: pointer;
    padding: 10px;
    }
  &__description {
    opacity: 1;
    }
   &__icon{
     transform: translateX(150px);
   }
}


  // Collapsables abiertos
.collapsible {
  &--content-open {
    display: block;
  }
}
