@import "core/reset";
@import "core/variables";

.exercise {
  height: 250px;
  width: 300px;
  border: 3px dotted black;
  background-image: url(../images/mood-e1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  &__information {
    align-self: flex-end;
    background-color: rgba(77, 60, 60, 0.5);
    color: #ffffff;
  }
  &__name {
    width: 280px;
    line-height: 20px;
    opacity: 1;
    cursor: pointer;
    padding: 10px;
    &::after {
      content: "V";
      position: relative;
      top: 0px;
      left: 145px;
      background: #3449eb;
      padding: 3px;
      cursor: pointer;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
    }
  }
  &__description {
    opacity: 1;
    display: none;
  }
  // Collapsables abiertos
  .collapsible {
    &--content-open {
      display: block;
    }
  }
}
