@import "core/reset";
@import "core/variables";
@import "core/mixins";
body{
  font-family: 'Noto Sans', sans-serif;
}
h1,h2,h3,small,p{
  color: $colorText;
}
.page{
  background-color: #ffffff;
  &__header{
    margin: 0;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-image: url('../images/home.jpg');
    background-size: cover;
    background-position: center;
     */
  }
  &__title{
    text-align: center;
    margin: 0px;
    font-size: 55px;
    font-weight: bold;
  }
  &__welcome{
    &-warning{
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: baseline;
    }
    &-icon{
      font-size: 50px;
      margin-right: 15px;
      color: #2f3542;
    }
  }
}
.hidden{
  display: none;
}
.exercise {
  &__item1 {
    @include exercise_box;
      background-image: url(../images/mood-e1.jpg);
    }
  &__item2{
    @include exercise_box;
    background-image: url(../images/numberGame-e2.jpg);
  } 

  &__wrapper{
    //display: flex;
    //justify-content: center;
  }
  &__information {
    align-self: flex-end;
    background-color: rgba(47,53,66,0.8);
    color: #ffffff;
  }
  &__name {
    width: 280px;
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
    }
  &__description {
    color: #ffffff;
    padding: 5px;
    }
   &__icon{
     transform: translateX(120px);
     color: #ffffff;
   }
}


  // Collapsables abiertos
.collapsible {
  &--content-open {
    display: block;
  }
}
