<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <title>Practice repository</title>
  </head>
  <body>
    <h1 class="title">¡Hola!</h1>
    <p class="about">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis modi
      repudiandae rerum necessitatibus id enim distinctio fugit deleniti.
      Praesentium repudiandae odio cupiditate, asperiores quo ducimus nisi eos
      error maxime quasi.
    </p>
    <div class="exercise item1 js-link">
      <div class="exercise__information collapsible--trigger">
        <h3 class="exercise__name">Your mood today</h3>
        <p class="exercise__description">
          Ejercicio sencillo enfocado a JS. El emoji cambia usando el select y
          el fondo depende de si es par o impar un número aleatorio entre 0 y
          100.
        </p>
      </div>
    </div>

    <script src="./assets/js/home.js"></script>
  </body>
</html>
